extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/blobs")
		p Naziv projekta:
			input#inputName(type="text", name="nazivProjekta")
		p Opis projekta:
			input#inputBadge(type="text", name="opisProjekta")
		p Obavljeni poslovi:
			input#inputBadge(type="text", name="obavljeniPoslovi")
		p Cijena projekta:
			input#inputBadge(type="number", name="cijenaProjekta")
		p Datum početka:
			input#inputDob(type="date", name="datumPocetka")
		p Datum završetka:
			input#inputDob(type="date", name="datumZavrsetka")
		p
			input#inputDob(type="hidden", name="dob")
		p
			button#btnSubmit(type="submit") submit
